#isi-container,#isi-container-hm {
    position: absolute;
    bottom: 0;
    height: 170px;
    width: 158px;
    background-color: #fff;
    padding: 2px 4px 10px 6px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll; /* Allow scrolling and add a vertical scrollbar */
    z-index: 99;

    }

    
    #isi_links {
        position: absolute;
        width: 100%;
        height: auto;
        top: 396px;
        background-size: contain;
        opacity: 1;
        z-index: 101;
        border-top: 1px solid #fff;
    }

 
    #presc, #medGuide {
        position: relative;
        width: 100%;
        z-index: 1100;
        cursor: pointer;
        background: #004f5e;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        line-height: 19px;
        color:#fff;
    }
    #presc a, #medGuide a {
        text-decoration:none;
        color:#fff;
     }   
#presc {
        border-bottom: 1px solid #fff;
}


/* add css start from here  */


.main-copy {
    color: #333333 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    /* padding: 8px 8px 8px 7px; */
}

.main-copy h3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-copy sup {
    font-size: .6em;
    line-height: 0;
    vertical-align: .6em;
    position:static;
}

.main-copy ul{
list-style:outside;
padding-left:13px;
}
.main-copy ul.sublist{
  list-style-type:circle;
}

.bold-copy,
b,
strong {
    font-weight: 700;
}

.teal-copy {
    color: #004f5e;
}


.black-copy{
  color: #666d70;
}

.no-bullet {
    list-style: none;
}

.medium-margin {
    margin-bottom: 6px;
    
}


.medium-margin-up {
    margin-top: 6px;
}

.large-margin {
    margin-bottom: 20px;
}

.exits {
    text-decoration: underline;
    cursor: pointer;
}
.exits a{
    /*color:#666d70;*/
    text-decoration:none;
	color: #004f5e;
	font-weight: bold;
}
#ISI_FDA_exit.exits a{
    /*color:#666d70;*/
	color: #004f5e;
    font-size:11px;
	font-weight: bold;
}


.nowrap,
.cp-code {
    white-space: nowrap;
}

#devider-logos {
    width: 160px;
    display: block;
    margin-left: -11px;
    margin-bottom: 6px;
	max-width: 110%;
}

.legal {
    max-width: 270px;
    font-size: 9px;
    display: block;

}
.cp-code{padding-left:22px;}

/*li::marker {
    font-size: 10px;
}*/

.list-copy {
    display: block;
    margin-left: -7px;
}

.sublist {
    margin-left: 6px;
}

.sublist-copy {
    font-size: 10.8px;
    display: block;
    margin-left: -6px;
}

.list{
    list-style: none;
}
.list li{
    position: relative;
    list-style: none;
}
.list li::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background:#004f5e;
    left: -14px;
    top: 5px;
}
.list li.no-bullet::after{display: none;}

.sublist li:after{
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50px;
   background: transparent;
    left: -14px;
    top: 6px;
    border: #666d70 solid 1px;
}
.list.black-bullet li:after{
    background:#666d70;
}

/* Scroll Bar Behaviour */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
background: #d7d7d7;
  }
::-webkit-scrollbar-track{
  border: none;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  box-shadow: 0 0 1px rgba(255,255,255,.5);
  height: 24px;
}
#isi-container-hm{
    position: absolute;
    padding-top: 12px;
    height: 234px;
    width: 160px;
    padding: 2px 0px 10px 6px;
    bottom: 0px;
}

#isi-container-hm .main-copy {
    letter-spacing: 0px;
    line-height: 14.5px;
    font-size: 11.3px;
    margin-top: 8px;
}

#isi-container-hm .main-copy h3 {
    font-size: 11.4px;
}

#isi-container-hm .medium-margin {
    margin-bottom: 4px;
    margin-top: 0px;
}

#isi_links_hm {
    position: absolute;
    width: 160px;
    height: auto;
    bottom: 260px;
    background-size: contain;
    /* background-image: url(isi_links.png); */
    opacity: 1;
    z-index: 101;
    border-top: 1px solid #fff;
    height: 16px;
}

#presc_hm, #medGuide_hm {
    z-index: 1100;
    padding-top: 3px;
    padding-bottom: 2px;
    cursor: pointer;
    background: #004f5e; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8.5px;
    text-align: center;
    line-height: 18px;
    color:#fff;
    font-weight: 300;
}
#presc_hm a, #medGuide_hm a {
   text-decoration:none;
   color:#fff;
}    
#presc_hm {
    border-bottom: 1px solid #fff;
}